/* ------- TITLE BAR ------- */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding-top: 1vh;
  width: 100%;
  color: #293647;
  background-color: white;
}

.title-bar .ant-btn {
  font-size: 1rem;
  color: #293647;
  background-color: transparent;
  border-radius: 0;
  margin-top: 0.5vh;
  display: flex;
  text-decoration: none;
}

.title-bar .ant-btn span[role="img"] {
  margin-right: 5px;
}

.title-bar .ant-btn span:not([role="img"]):after,
.title-bar .ant-btn span:not([role="img"]):after {
  content: '';
  position: relative;
  bottom: 0.7em;
  width: 0px;
  height: 0.6rem;
  display: block;
  background-color: rgba(247,206,104,0.35);
  transition: 300ms;
}

.title-bar button:hover span:not([role="img"]):after,
.title-bar button:hover span:not([role="img"]):after {
  width: 100%;
}

.title-bar .anticon-left svg {
  width: 1.5rem;
  height: 1.5rem;
}

.title-bar .ant-btn span {
  position: relative;
  top: -5px;
}

.title-bar .title-bar-R {
  float: right;
  padding-right: 3vw;
}

.title-bar .title-bar-R > * {
  display: inline-block;
}

.title-bar-R .anticon-more {
  font-size: 2em;
  color: #8592A6;
  background-color: #F0F2F6;
  border-radius: 10px;
}

