.App {
  padding: 3% 5%; /* vertical | horizontal */
}

/* ------- PROFILE ------- */
.profile-bar {
  padding-top: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-bar h2.ant-typography,
.profile-bar h3.ant-typography{
  margin: 0;
}

.profile-pic {
  float: right;
  width: 50px;
  height: 50px;
  margin: 1.5vh 0; /* vertical | horizontal */
  border-radius: 50%;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

/* ------- BUTTONS SHELF ------- */
.btns-container {
  width: 97vw;
  margin: 1.5vh auto;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.shelf {
  background-color: white;
  position: absolute;
  height: 67vh;
  width: 106.5vw;
  overflow: hidden;
  left: -5vw;
  top: 35vh;
  z-index: -1;
}

